.pyenv
.env.dev
.vscode
node_modules/
__pycache__/
db.sqlite3

MiniTrello/Board/migrations/
!MiniTrello/Board/migrations/__init__.py
MiniTrello/User/migrations/
!MiniTrello/User/migrations/__init__.py