{% extends 'base.html' %}
<!--  -->
{% block body %}
<!--  -->
{% include 'main_navbar.html' %}
<!--  -->

<div role="alert" class="alert">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-info shrink-0 w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
  </svg>
  <span>An activation link has been sent to your email address. Please check your inbox and click the activation link to activate your account.</span>
</div>

{% endblock %}
