{% extends 'base.html' %}
<!--  -->

{% block body %}
<!--  -->

{% include 'main_navbar.html' %}
<!--  -->

<div id="register-user">
  <div class="fixed h-full w-full bg-black opacity-70 inset-0 z-0"></div>
  <div class="absolute inset-0 min-h-[100vh] min-v-[100vh] flex justify-center">
    <div class="self-center card overflow-y-auto bg-base-100 shadow-xl p-3 w-[70%]">
      <div class="card-body">
        <div class="border-b-2 border-gray-200">
          <nav class="-mb-0.5 flex justify-center">
            <div class="text-2xl font-bold">Password Reset</div>
          </nav>
        </div>
        {% for message in messages %}
        <!--  -->
        <div class="text-red-600">{{message}}</div>
        <!--  -->
        {% endfor %}
        <form class="p-5 grid grid-cols-6 gap-4" action="" method="post" id="user_password_change_form">
          {% csrf_token %}
          <!--  -->
          <label class="col-span-2 self-center text-xl font-semibold text-right" for="id_old_passw">Old Password:</label>
          <input class="col-span-4 input input-bordered w-full max-w-xs text-xl" type="password" name="old_password" id="id_old_password" required />
          <!--  -->
          <label class="col-span-2 self-center text-xl font-semibold text-right" for="id_password1">New Password:</label>
          <input class="col-span-4 input input-bordered w-full max-w-xs text-xl" type="password" name="new_password1" id="id_new_password1" required />
          <!--  -->
          <label class="col-span-2 self-center text-xl font-semibold text-right" for="id_password2">Re-enter Password:</label>
          <input class="col-span-4 input input-bordered w-full max-w-xs text-xl" type="password" name="new_password2" id="id_new_password2" required />
        </form>
        <div class="card-actions justify-center">
          <button type="submit" form="user_password_change_form" value="Submit" class="btn btn-primary bg-green-200 hover:bg-green-300 hover:shadow-lg">Submit</button>
        </div>
      </div>
    </div>
  </div>

  {% endblock body %}
</div>
