{% extends 'base.html' %}
<!-- -->
{% block body %}
<!-- -->
{% include 'profile_navbar.html' %}
<!--  -->

<div id="add-card">
  <div class="fixed h-full w-full bg-black opacity-70 inset-0 z-0"></div>
  <div class="absolute inset-0 min-h-[100vh] min-v-[100vh] flex justify-center">
    <div class="self-center card overflow-y-auto bg-base-100 shadow-xl p-3 w-[70%]">
      <div class="card-body">
        <div class="card-actions justify-between">
          <a href="{% url 'board-index' board_id %}">
            <svg class="self-center h-10 w-10 stroke-green-400 hover:stroke-green-600 hover:cursor-pointer" xmlns="http://www.w3.org/2000/svg" stroke-width="1.12" viewBox="0 0 32 32">
              <path
                d="M14.389 7.956v4.374l1.056.01c7.335.071 11.466 3.333 12.543 9.944-4.029-4.661-8.675-4.663-12.532-4.664h-1.067v4.337l-9.884-7.001 9.884-7zm1.067-2.063L2.661 14.956l12.795 9.063v-5.332c5.121.002 9.869.26 13.884 7.42 0-4.547-.751-14.706-13.884-14.833V5.893z"
              />
            </svg>
          </a>
          <div class="text-3xl font-bold self-center">Card Details</div>
          <button type="submit" form="create_card_form" value="Submit" class="btn btn-primary bg-green-200 hover:bg-green-300 hover:shadow-lg">Submit</button>
        </div>
        <div class="divider divider-neutral p-0 m-0"></div>
        {% if form.errors %}
        <!--  -->
        <div>{{form.errors}}</div>
        <!--  -->
        {% endif%}
        <form class="p-5 grid grid-cols-5 gap-4" action="" method="post" id="create_card_form">
          {% csrf_token %}
          <!--  -->
          <!--  -->
          <label class="col-span-1 self-center text-xl font-semibold text-right" for="id_priority">Priority:</label>
          <select class="col-span-4 select select-bordered w-full max-w-xs text-xl" name="priority" id="id_priority" required>
            <option disabled selected>Whats the Priority</option>
            {% for value, label in priority_choices %}
            <!--  -->
            {%if value == 2 %}
            <option value="{{value}}" selected>{{label}}</option>
            {% else %}
            <!--  -->
            <option value="{{value}}">{{label}}</option>
            {% endif %}
            <!--  -->
            {% endfor %}
          </select>
          <!--  -->
          <label class="col-span-1 self-center text-xl font-semibold text-right" for="id_title">Title:</label>
          <input class="col-span-4 input input-bordered w-full max-w-xs text-xl" type="text" name="title" maxlength="64" id="id_title" required />
          <!--  -->
          <label class="col-span-1 self-center text-xl font-semibold text-right" for="id_description">Description:</label>
          <textarea class="col-span-4 text-xl textarea textarea-bordered" name="description" id="id_description"> </textarea>
          <!--  -->
          <label class="col-span-1 self-center text-xl font-semibold text-right" for="id_tags">Tags:</label>
          <select class="col-span-4 select select-bordered w-full max-w-xs text-xl p-2" name="tags" id="id_tags" multiple>
            {% for tag in tags %}
            <option v-multi-select value="{{tag.id}}">{{tag.title}}</option>
            {% endfor %}
          </select>
          <!-- -->
          <label class="col-span-1 self-center text-xl font-semibold text-right" for="id_section">Section:</label>
          <select class="col-span-4 select select-bordered w-full max-w-xs text-xl" name="section" id="id_section" required>
            {% for section in sections %}
            <!--  -->
            {%if section_id == section.id %}
            <option value="{{section.id}}" selected>Section {{section.id}}</option>
            {% else %}
            <!--  -->
            <option value="{{section.id}}">Section {{section.id}}</option>
            {% endif %}
            <!--  -->
            {% endfor %}
          </select>
          <!-- -->
          <!--  -->
          <label class="col-span-1 self-center text-xl font-semibold text-right" for="id_completed">Completed:</label>
          <input class="col-span-4 checkbox" type="checkbox" name="completed" id="id_completed" />
          <!--  -->
          <label class="col-span-1 self-center text-xl font-semibold text-right" for="dp-input-id_deadline">Deadline:</label>
          <Datepicker
            name="deadline"
            uid="id_deadline"
            class="col-span-1 self-center text-xl font-semibold text-right"
            v-model="date"
            :enable-time-picker="false"
            :month-change-on-scroll="false"
            :format="dateFormat"
            auto-apply
          />
        </form>
      </div>
    </div>
  </div>
</div>
<script type="module">
  const { createApp } = Vue;

  const app = createApp({
    data() {
      return {
        date: "",
        dateFormat: (date) => {
          const day = date.getDate();
          const month = date.getMonth() + 1;
          const year = date.getFullYear();
          return `${year}-${month}-${day}`;
        },
      };
    },
    components: { Datepicker: VueDatePicker },
  });
  // app.directive("click-outside", {
  //   beforeMount: function (element, binding, vnode) {
  //     element.click_outside = function (event) {
  //       if (!(element == event.target || element.contains(event.target))) {
  //         binding.value();
  //       }
  //     };
  //     document.body.addEventListener("click", element.click_outside);
  //   },
  //   unmounted: function (element) {
  //     document.body.removeEventListener("click", element.click_outside);
  //   },
  // });
  app.directive("multi-select", {
    mounted: function (element, binding, vnode) {
      // https://codepen.io/wripcode/pen/ZEvMOEL
      const parent = element.parentElement;
      element.multi_select = function (element) {
        element.preventDefault();
        var originalScrollTop = parent.scrollTop;
        this.selected = !this.selected;
        parent.focus();
        setTimeout(function () {
          parent.scrollTop = originalScrollTop;
        }, 0);
      };
      element.addEventListener("mousedown", element.multi_select, false);
    },
    unmounted: function (element) {
      element.removeEventListener("mousedown", element.multi_select, false);
    },
  });
  app.config.compilerOptions.delimiters = ["[[", "]]"];
  app.mount("#add-card");
</script>

{% endblock body %}
